# SPDX-FileCopyrightText: 2021 Klarälvdalens Datakonsult AB, a KDAB Group company <info@kdab.com>
# SPDX-FileContributor: Joshua Booth <joshua.n.booth@gmail.com>
#
# SPDX-License-Identifier: MIT OR Apache-2.0

include/core/qhash/qhash_*.h linguist-generated=true
include/core/qhash/qhash_private.h linguist-generated=false
include/core/qlist/qlist_*.h linguist-generated=true
include/core/qlist/qlist_private.h linguist-generated=false
include/core/qmap/qmap_*.h linguist-generated=true
include/core/qmap/qmap_private.h linguist-generated=false
include/core/qset/qset_*.h linguist-generated=true
include/core/qset/qset_private.h linguist-generated=false
include/core/qvector/qvector_*.h linguist-generated=true
include/core/qvector/qvector_private.h linguist-generated=false

src/core/qhash/qhash_*.rs linguist-generated=true
src/core/qlist/qlist_*.rs linguist-generated=true
src/core/qmap/qmap_*.rs linguist-generated=true
src/core/qset/qset_*.rs linguist-generated=true
src/core/qvariant/qvariant_*.rs linguist-generated=true
src/core/qvector/qvector_*.rs linguist-generated=true
