# SPDX-FileCopyrightText: 2021 Klarälvdalens Datakonsult AB, a KDAB Group company <info@kdab.com>
# SPDX-FileContributor: Andrew Hayzen <andrew.hayzen@kdab.com>
# SPDX-FileContributor: Gerhard de Clercq <gerhard.declercq@kdab.com>
#
# SPDX-License-Identifier: MIT OR Apache-2.0

.vscode/
**/target/
Cargo.lock
**/build*/
cargo/*
**/mdbook/*
**/mdbook-linkcheck/*
pip3/*
rustup/*

# clangd
compile_commands.json

# cmps (https://github.com/leonmatthes/cmps)
.cmps/
